#
# Traefik version
#
TRAEFIK_VERSION=latest

#
# Reverse proxy container name
#
TRAEFIK_CONTAINER_NAME=reverse-traefik

#
# Domain email
#
ACME_EMAIL=no-reply@yoursite.com

#
# Traefik certs dumper configurations
CERTS_DUMPER_VERSION=latest
CERTS_DUMPER_CONTAINER_NAME=traefik-cert-dumper

#
# Traefik dashboard url
#
DASHBOARD_URL=dashboard-ui.yoursite.com

#
# Traefik dashboard user / password
#
DASHBOARD_USER=admin
DASHBOARD_PASSWORD_HASH=secret

#
# Test whoami site
#
WHOAMI_SITE=whoami.yoursite.com
